listener "tcp" {
  address       = "{{ vault_listen_address }}"
  tls_cert_file = "{{ vault_tls_cert_file }}"
  tls_key_file  = "{{ vault_tls_key_file }}"
}

storage "dynamodb" {
  table  = "{{ dynamodb_table_name }}"
  region = "{{ aws_region }}"
}

api_addr = "https://{{ vault_listen_address }}"